[Unit]
Description=Joko Utils Service
After=network.target

[Service]
User=dev
WorkingDirectory={{ target_path }}
ExecStart=/usr/bin/java -jar {{ target_path }}/{{ jar_name }}
Type=oneshot
RemainAfterExit=yes
Restart=no

[Install]
WantedBy=multi-user.target